name: 'langX'
scopeName: 'langX'
type: 'tree-sitter'
parser: 'tree-sitter-langx'

fileTypes: ['lx' ]
scopes:
  '''
  func_declar_stmt > KEY_FUNCTION,
  class_declar_stmt > KEY_AUTO,
  class_declar_stmt > KEY_EXTEND,
  '''
  : 'keyword.operator',
  'class_declar_stmt > id_expr' : 'entity.name.class',


folds: [
  {
    type: 'comment'
  }
]

comments:
  start: '// '
